<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Service.ForumManager">
        <endpoint address="net.tcp://localhost:8081/forumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IForumManager" />
      </service>
      <service name="Service.PostManager">
        <endpoint address="net.tcp://localhost:8082/postService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IPostManager" />
      </service>
      <service name="Service.SubForumManager">
        <endpoint address="net.tcp://localhost:8083/subForumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISubForumManager" />
      </service>
      <service name="Service.SuperUserManager">
        <endpoint address="net.tcp://localhost:8084/superUserService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISuperUserManager" />
      </service>
      <service name="Service.UserManager">
        <endpoint address="net.tcp://localhost:8085/userService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IUserManager" />
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://localhost:8081/forumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IForumManager" />
      <endpoint address="net.tcp://localhost:8082/postService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IPostManager" />
      <endpoint address="net.tcp://localhost:8083/subForumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISubForumManager" />
      <endpoint address="net.tcp://localhost:8084/superUserService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISuperUserManager" />
      <endpoint address="net.tcp://localhost:8085/userService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IUserManager" />
    </client>
  </system.serviceModel>
  </configuration>