<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
      <bindings>
  <netTcpBinding>
    <binding name="tcp_Unsecured">
      <security mode="None" />
    </binding>
  </netTcpBinding>
  </bindings>

    <client>
      <endpoint bindingConfiguration="tcp_Unsecured" address="net.tcp://localhost:8081/forumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IForumManager"/>
      <endpoint bindingConfiguration="tcp_Unsecured" address="net.tcp://localhost:8082/postService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IPostManager"/>
      <endpoint bindingConfiguration="tcp_Unsecured" address="net.tcp://localhost:8083/subForumService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISubForumManager"/>
      <endpoint bindingConfiguration="tcp_Unsecured" address="net.tcp://localhost:8084/superUserService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.ISuperUserManager"/>
      <endpoint bindingConfiguration="tcp_Unsecured" address="net.tcp://localhost:8085/userService" binding="netTcpBinding" contract="ForumBuilder.Common.ServiceContracts.IUserManager"/>
    </client>
  </system.serviceModel>
</configuration>